.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.product__price {
    font-size: 1.3rem;
    font-weight: 700;
    color: #00b774;
}

.product__description {
    margin-top: .5rem;
    color: #666;
    line-height: 1.4rem;
}